// clearfix
@mixin clearfix {
	&:before,
	&:after {
		content: " "; 
		display: table;
	}
	
	&:after{
		clear: both;
	}
}

@mixin magic-button($color, $hoverColor, $width:1px) {
	//padding-top: 2px;
	padding-right: 14px;
	padding-left: 16px;
	height: 40px;
	font-size: 14px;
	font-family: $sans;
	color: $color;
	text-transform: uppercase;
	position: relative;
	transition: 0.1s;
	&:before,
	&:after{
		content: "";
		//background: $color;
		background: currentColor;
		width: $width;
		position: absolute;
		transition: 0.3s;
	}
	&:before{
		top: 0;
		left: 0;
		height: 00%;
	}
	&:after{
		bottom: 0;
		right: 0;
		height: 00%;
	}
	.txt{
		&:before,
		&:after{
			content: "";
			//background: $color;
			background: currentColor;
			height: $width;
			position: absolute;
			transition: 0.3s;
		}
		&:before{
			top: 0;
			right: 0;
			width: 00%;
		}
		&:after{
			bottom: 0;
			left: 0;
			width: 00%;
		}
	}
	.arrow-icon{
		content: "";
		position: absolute;
		top: (20px - $width/2);
//		top: 20px;
		right: -8px;
		width: 0px;
		height: $width;
		//background: $color;
		background: currentColor;
		transition: 0.3s;
		&:after,
		&:before{
			content: "";
			position: absolute;
//			top: (-4px + $width/2);
			top: -4px + 0.5*$width;
			right: 13px;
			width: 8px;
			height: 8px;
//							border: 1px solid $black;
//							border-left: none;
//							border-top: none;
			transform: rotate(-45deg);
			transform-origin: center;
			transition: 0.3s;
		}
		&:after{
			//border-top: $width solid $color;
			border-top: $width solid currentColor;
			transform: rotate(45deg);
			opacity: 0;
		}
		&:before{
			//border-bottom: $width solid $color;
			border-bottom: $width solid currentColor;
			transform: rotate(-45deg);
			opacity: 0;
		}
	}

	&:hover{
		//color: $color;
		color: $hoverColor;
		&:after,
		&:before{
			height: 100%;
		}
		.txt{
			&:after,
			&:before{
				width: 100%;
			}
		}
		.arrow-icon{
			width: 16px;
			&:after{
				transform: rotate(45deg);
				right: -8px;
				opacity: 1;
			}
			&:before{
				transform: rotate(-45deg);;
				right: -8px;
				opacity: 1;
			}
		}
	}
}


@mixin simple-button($color, $altColor, $ico-font:"\f215") {
	color: $color;
	font-size: 15px;
	position: relative;
	padding-top: 40px;
	text-align: center;
	display: inline-block;
	transition: 0.3s;
	&:after{
		top: 16px;
		left: 50%;
		height: 28px;
		width: 1px;
		background: $altColor;
		content: "";
		position: absolute;
		transition: 0.3s;
	}
	&:before{
		top: 0;
		left: 50%;
		margin-left: -16px;
		width: 32px;
		height: 32px;
		padding-top: 2px;
		line-height: 1.4;
		border: 3px solid currentColor;
		border-radius: 100px;
		position: absolute;
		font-family: "Ionicons";
		content: $ico-font;
		font-size: 16px;
		color: $altColor;
		transition: 0.3s;
	}
	&:hover{
		color: $altColor;
		&:before{
			border-color: $color;
		}
		&:after{
			height: 0;
		}
	}
}