@import "./variables";

/* Alternative colors */
$color1 : #FF2A52; 

/* Header */
.menu-icon {
	width: 40px;
	height: 40px;
	&:before{
		height: 40px;
		width: 40px;
		border-radius: 2px;
	}
	.bars{
		margin-top: 13px;
	}
}
.menu-links{
	.links{
		top: 24px;
		height: 40px;
		border-radius: 2px;
		border-right: none;
		margin-right: -4px;
		transition: 0.3s;
		border: none;
		background: none;
		border: 1px solid transparent;
		padding-top: 0;
		&.fix-bg{
			background: transparentize($black, 0.7);
			border-color: transparentize($white, 0.8);
		}
		li{
			padding-top: 0;
			height: 38px;
			a{
				margin-top: 4px;
				color: $white;
			}
		}
	}
	&.scrolled{
		.links{
			background: transparentize($black, 0.7);
			border-color: transparentize($white, 0.8);
		}
	}
}
/* home page */
.section-home .content .c-text{
	width: 100%;
	max-width: 720px;
}
.section-home .content .c-text .h-img{
	display: none;
}
.section-home .content .c-text::before {
	display: none;
}
.section-home .content .c-text .header h2{
	color: $white;
	font-size: 32px;
	@media (min-width:601px){
		font-size: 60px;
	}
}
.section-home.active.anim .c-text .title-desc .t-wrapper .header{
	background: transparentize($black, 0.7);
	margin-top: 8px;
}
.section-home.active.anim .c-text .title-desc .t-wrapper .separator{
	//border-top: 1px solid $white;
	width: 100%;
}
.section-home .content .c-text.bg-white .desc p{
	color: $white;
}
/*button*/
.section-home .content .c-text.bg-white .home-btns .btn .txt{
	color: $white;
}
.section-home .content .c-text .home-btns .btn{
	position: relative;
	overflow: hidden;
	border: 1px solid $white;
	padding: 8px 24px;
	border-radius: 2px;
	&:after{
		display: none;
	}
	&:before{
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		bottom: 0;
		border-radius: 0;
		border: none;
		background: $white;
		content: "";
		margin: 0;
		z-index: -1;
	}
	&:hover{
		color: $black;
		.txt{
			color: inherit;
		}
		&:before{
			width: 100%;
		}
	}
}

/* Social networks button */
.site-footer .contact .socials li a{
	border-radius: 2px;
	&:before{
		border-radius: 2px;
	}
}