@import "./variables";

/* Alternative colors */
$color1 : #FF2A52; 

/* home page */
.section-home .content .c-text{
	width: 100%;
	max-width: 720px;
}
.section-home .content .c-text .h-img{
	display: none;
}
.section-home .content .c-text::before {
	display: none;
}
.section-home .content .c-text .header h2{
	color: $white;
	font-size: 32px;
	@media (min-width:601px){
		font-size: 60px;
	}
}
.section-home.active.anim .c-text .title-desc .t-wrapper .separator{
	border-top: 1px solid $white;
	width: 100%;
}
.section-home .content .c-text.bg-white .desc p{
	color: $white;
}
.section-home .content .c-text.bg-white .home-btns .btn .txt{
	color: $white;
}