@import "../mixins";
@import "../variables";

.feature-list{
	margin: 64px auto;
	.item{
		
	}
	.item-box{
		@include clearfix;
		position: relative;
		&:before{
			$lineHeight : 128px;
			height: $lineHeight;
			width: 1px;
			background: $color1;
			left: 50%;
			top: -($lineHeight / 2);
			position: absolute;
			content: "";
			display: none;
			@media (min-width: 601px){
				display: block;
			}
		}
		.item-img{
			width: 100%;
			margin: 0;
			position: relative;
			@media (min-width: 601px){
				width: percentage(1/3);
				float: left;
				margin-top: -32px;
			}
			img{
				width: 100%;
				height: auto;
			}
			.img{
				width: 100%;
				padding-bottom: 60%;
				background: $black;
				content: "";
				position: relative;
				@media (min-width: 601px){
					padding-bottom: 160%;
				}
			}
			.caption-bottom{
				position: absolute;
				z-index: 1;
				width: 100%;
				bottom: 0;
				height: 40px;
				.share-btn{
					font-size: 20px;
					height: 32px;
					width: 32px;
					line-height: 1.4;
					text-align: center;
					display: inline-block;
					border: 1px solid currentColor;
					border-radius: 2px;
					color: $white;
					&:hover{
						color: $black;
						background: $white;
						border-color: $white;
					}
				}
			}
		}
		.item-info{
			text-align: left;
			h2{
				font-size: 2em;
				color: $color1;
				margin-top: 0;
				font-family: $serif;
			}
			p{
				font-family: $sans;
				font-size: $text-size;
			}
			@media (min-width: 601px){
				width: percentage(2/3);
				padding: 80px 48px;
				float: right;
			}
		}
	}
	.item:nth-child(2n+1){
		.item-box{
			.item-img{
				@media (min-width: 601px){
					float: left;
				}
			}
			.item-info{
				@media (min-width: 601px){
					float: right;
				}
			}
		}
	}
	.item:nth-child(2n){
		.item-box{
			.item-img{
				@media (min-width: 601px){
					float: right;
				}
			}
			.item-info{
				@media (min-width: 601px){
					float: left;
				}
			}
		}
	}
	.item:first-child{
		.item-box{
			&:before{
				display: none;
			}
			.item-img{
				margin-top: 0;
			}
		}
	}
}

.feature-text-list{
	li{
		@media (min-width: 601px){
			padding: 16px 16px;
		}
	}
	h3{
		font-size: 2em;
		font-family: $serif;
		color: $color1;
	}
}