@import "../mixins";
@import "../variables";

.c-itemlist{
	$padding : 16px 0;
	//margin-top: -$padding;
	//margin-bottom: $padding;
	@media(min-width: 601px){
		//margin-left: (-0px - $padding);
		//margin-right: (-0px - $padding);
	}
	@media(min-width: 801px){
		//margin-left: (-128px - $padding);
		//margin-right: (-128px - $padding);
	}
	max-width: none;
	li{
		padding: 0;
		@include clearfix;
		@media(min-width: 601px){
			//padding: 0 $padding;
		}
		margin-bottom: 32px;
		position: relative;
		text-align: left;
		a{
			display: block;
			@include clearfix;
		}
		h4{
			font-family: $sans;
			font-size: 14px;
			font-weight: normal;
			color: $medium-gray;
			text-transform: uppercase;
		}
		h3,
		.title{
			font-size: 24px;
			font-family: $serif;
			color: $color1;
			text-transform: none;
			font-weight: bold;
			position: relative;
			margin-bottom: 8px;
			padding-bottom:  8px;
		}
		.title{
			&:after{
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 50%;
				border-bottom: 2px solid $color1;
				transition: 0.3s;
			}
		}
		h3.price,
		.price{
			font-size: 24px;
			font-family: $sans;
			color: $color1;
			text-transform: none;
			font-weight: normal;
			position: relative;
			margin-top: 8px;
		}
		h3.btn,
		.btn{
			font-size: 15px;
			font-family: $sans;
			color: $color1;
			text-transform: uppercase;
			font-weight: bold;
			margin-top: 8px;
			&:hover{
				text-decoration: underline;
			}
		}
		.desc{
			p{
				font-family: $sans;
				font-size: $text-size;
				margin-bottom: 0;
				color: $medium-gray;
			}
		}
		.item-img{
			display: block;
			width: 100%;
			height: 0;
			padding-bottom: 192px;
			background: #fff;
			content: "";
			position: relative;
			margin-bottom: 16px;
			@media(min-width: 801px){
				width: 50%;
				padding-bottom: 60%;
				float: left;
				overflow: hidden;
			}
			.img{
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				content: "";
			}
		}
		.item-desc{
			display: block;
			width: 100%;
			transform: none;
			transition: 0.3s;
			padding: 8px 0px;
			@media(min-width: 801px){
				width: 50%;
				float: left;
				padding: 0px 32px;
			}
		}
		&:hover{
			.title{
				&:after{
					width: 100%;
				}
			}
		}
	}
}